/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2B0E44, #000000);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: background 0.3s;
}

header.scrolled {
    background: rgba(61, 15, 76, 0.8);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1) rotate(3deg);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: #ff4081;
    transform: translateY(-3px) scale(1.1);
}

/* Seção Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    animation: fadeIn 1s;
    overflow: hidden;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero-content h1 {
    font-size: 3rem;
    color: #fff;
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-content p {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #a6a6a6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4081;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    cursor: pointer;
    animation: bounce 1.5s infinite;
}

.scroll-down i {
    font-size: 40px;
    color: white;
    transition: transform 0.3s ease;
}

.scroll-down:hover i {
    transform: translateY(5px);
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.button:hover {
    background-color: #e63968;
    transform: translateY(-3px) scale(1.05);
}

/* Seções (Sobre, Serviços, Portfólio, Contato) */
section {
    padding: 100px 50px;
    text-align: center;
    animation: fadeIn 1s;
    position: relative;
    overflow: hidden;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

section h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: #ff4081;
    margin: 10px auto;
    transition: width 0.4s ease-in-out;
}

section h2:hover::after {
    width: 100%;
}

/* Serviços */
.service-item {
    background: #25233b;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(255, 64, 129, 0.5);
}

.service-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 64, 129, 0.2);
    transition: opacity 0.3s;
    opacity: 0;
    border-radius: 5px;
}

.service-item:hover::before {
    opacity: 1;
}

/* Formulário de Contato */
.contact form input, .contact form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: box-shadow 0.3s;
}

.contact form input:focus, .contact form textarea:focus {
    box-shadow: 0 0 5px #ff4081, 0 0 10px #ff4081;
}

.contact button {
    padding: 10px 20px;
    background-color: #ff4081;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact button:hover {
    background-color: #e63968;
    transform: scale(1.1);
}

/* Ícones de Redes Sociais */
.social-media-icons {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    background-color: #ff4081;
    color: white;
    font-size: 24px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.social-icon:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Responsividade */
@media (max-width: 768px) {
    /* Hero */
    .hero-content h1 {
        font-size: 2rem;
    }

    /* Navegação */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    /* Serviços */
    .service-item {
        margin: 15px 0;
    }

    /* Redes Sociais */
    .social-media-icons {
        top: 20px;
        right: 10px;
        transform: translateY(0);
        flex-direction: row;
        justify-content: space-between;
    }

    .social-icon {
        margin: 0 5px;
        padding: 10px;
    }

    /* Experiência */
    .experience-item {
        padding: 20px;
    }

    /* Metodologias */
    .methodology-item {
        padding: 20px;
    }
}
/* Estilos para a barra de navegação */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajustado para a altura padrão da barra */
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

/* Barra de navegação */
.navbar {
    background-color: rgba(106, 27, 154, 0.4); /* Cor roxa com transparência */
    padding: 15px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Efeito de desfoque no fundo da navbar */
    width: 100%;
}

/* Quando o usuário rola a página, a barra escurece um pouco */
body.scrolled .navbar {
    background-color: rgba(106, 27, 154, 0.9); /* Tom mais escuro */
}

/* Contêiner centralizado da barra de navegação */
.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Logo */
.navbar .logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.navbar .logo:hover {
    color: #FF4081;
}

/* Menu de navegação */
.navbar-links {
    display: flex;
    gap: 30px;
}

/* Itens do menu */
.navbar-links li {
    list-style: none;
}

/* Links de navegação */
.navbar-links a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-links a:hover {
    color: #FF4081;
    transform: translateY(-3px);
}

/* Menu hamburguer */
.navbar .hamburger {
    display: none;
    font-size: 2rem;
    color: #FF4081; /* Roxo neon */
    cursor: pointer;
}

.navbar .hamburger.active {
    color: #FF4081;
}

/* Barra de navegação responsiva */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgba(106, 27, 154, 0.95);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links a {
        font-size: 1.3rem;
        text-align: right;
    }

    .navbar .hamburger {
        display: block;
    }
}
